In [ ]:
#function is  reusble block of code

In [ ]:
def a():
    print('A')
a()

A

In [ ]:
def name(Name):
    print(f"hi {Name}")
name("Naksh")

hi Naksh

In [8]:
def display_invoice(name, amount, duedate):
    print(f"{name}'s invoice of {amount:.2f} is due on {duedate}")

display_invoice('Naksh', 300, "10/02")

Naksh's invoice of 300.00 is due on 10/02

In [ ]:
#return = sending the result bask to the caller

In [9]:
def add(x,y):
    z=x+y
    return z
def sub(x,y):
    z=x-y
    return z
def mul(x,y):
    z=x*y
    return z
def div(x,y):
    z=x/y
    return z

In [12]:
print(add(1,2),
sub(1,2),
mul(1,2),
div(1,2))

3 -1 2 0.5

In [17]:
def name(f,l):
    f=f.capitalize()
    l=l.capitalize()
    return f+l

full_name=name('A','B')
print(full_name)

AB

In [18]:
#default arguments are default parameters values

In [24]:
def net_price(listprice, discount=0, tax=0.05):
    return listprice * (1 - discount)* (1+tax)

print(net_price(10))
print(net_price(10,0.2))
print(net_price(10,0.1,0))

10.5
8.4
9.0

In [26]:
import time

In [34]:
def count(end, start=0):
    for x in range(start, end+1):
        print(x)
        time.sleep(1)
    print('Done')

count(5)

0
1
2
3
4
5
Done

In [ ]:
#Lambda Function

In [7]:
add_1= lambda x: x+1
result=add_1(1)
print(result)

add_1= lambda x,y: x+y
result=add_1(1,8)
print(result)

2
9

In [ ]:
mynums=[1,2,3,4,5,6,7,8]
events=list(map(lambda x: x*x,mynums))
print(events)

[1, 4, 9, 16, 25, 36, 49, 64]

In [13]:
mynums=[1,2,3,4,5,6,7,8]
event=list(filter(lambda x: x%2==0, mynums))
print(event)

[2, 4, 6, 8]

In [17]:
values=[(1,'b','HEY'),(2,'a','Hello'),(3,'c','zzz')]

sort=sorted(values, key=lambda x:x[1])
print(list(sort))

[(2, 'a', 'Hello'), (1, 'b', 'HEY'), (3, 'c', 'zzz')]

In [ ]:
#Variable Scope
#local> global 
#Local>Enclosing>Global>Built-in

In [19]:
name='a'

def displayname():
    name='b'
    print(name)

print(name)
print(displayname())

a
b
None

In [20]:
#recursion

In [25]:
def walk(steps):
    if steps == 0:
        return
    walk(steps-1)
    print(f"you take {steps}")


walk(10)

you take 1
you take 2
you take 3
you take 4
you take 5
you take 6
you take 7
you take 8
you take 9
you take 10

In [32]:
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)
factorial(10)

3628800