# Experiment 1: Basics of Python

***

Hello World

In [1]:
print("hello world")

hello world

Variable Printing

In [2]:
a = 20
print(a)

20

In [4]:
b = 35.32
print(a, b)

30 35.32

In [7]:
name = input("Enter your name: ")
print("Hello", name)

Hello Nicket

In [ ]:
year = input("Enter your birth year: ")
age = 2025 - year
print("Your age is:", age)

Your age is: 18

Datatypes

In [10]:
a = 30
b = 49.39
c = "Nicket"
d = True
print(a, b, c, d)

30 49.39 Nicket True

Type Conversion

In [13]:
a = 30.99
b = 30
c = 17
d = 1

print(int(a))
print(float(b))
print(str(c))
print(bool(d))

30
30.0
17
True