# Experiment 4: Data Structures

***

Strings

In [1]:
print("Nicket")

Nicket

In [13]:
a = 5
print(a)

5

In [5]:
name = "Nicket"
print("my name is " + name)

my name is Nicket

In [6]:
print(f"this is {name}'s notebook")

this is Nicket's notebook

In [8]:
age = 18
print("I am " + str(age) + " years old.")

I am 18 years old.

In [10]:
print("stuff on line 1 \nstuff on line 2")

stuff on line 1
stuff on line 2

In [12]:
print("some escape characters are: \n\t tab \n\n new line \n\\ backslash \n\' single quote \n\" double quote")

some escape characters are:
	 tab

 new line
\ backslash
' single quote
" double quote

String Functions

In [15]:
fruit = "BaNaNa"

In [17]:
print(fruit.lower())
print(fruit.upper())
print(fruit.capitalize())

banana
BANANA
Banana

In [19]:
print(len(fruit))
print(fruit[0])
print(fruit[-1])
print(fruit[0:3])
print(fruit.index("B"))

6
B
a
BaN
0

In [20]:
print(fruit.replace("a", "o"))
print(fruit.count("a"))

BoNoNo
3

Lists

In [22]:
colors = ["red", "blue", "green", "yellow", "purple", "orange", "black", "white"]
print(colors)

['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'black', 'white']

In [23]:
print(len(fruit))
print(colors[0])
print(colors[-1])
print(colors[0:1])
print(colors[:5])
print(colors.index("green"))

6
red
white
['red']
['red', 'blue', 'green', 'yellow', 'purple']
2

In [24]:
colors.append("pink")
print(colors)

colors.insert(0, "brown")
print(colors)

colors.remove("black")
print(colors)

colors.pop()
print(colors)

['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'black', 'white', 'pink']
['brown', 'red', 'blue', 'green', 'yellow', 'purple', 'orange', 'black', 'white', 'pink']
['brown', 'red', 'blue', 'green', 'yellow', 'purple', 'orange', 'white', 'pink']
['brown', 'red', 'blue', 'green', 'yellow', 'purple', 'orange', 'white']

In [28]:
temps = [32, 45, 21, 19, 50]

temps.sort()
print(temps)

temps.reverse()
print(temps)

print(sum(temps))
print(max(temps))
print(min(temps))

temps.clear()
print(temps)

[19, 21, 32, 45, 50]
[50, 45, 32, 21, 19]
167
50
19
[]

In [29]:
survs = [
    "Noob",
    "007n7",
    "Shedletsky",
    "Builderman",
    "Guest 1337",
    "Two Time",
    "Dusekkar",
    "Elliot",
    "Taph",
    "Chance"
]

kills = [
    "c00lkidd",
    "1x1x1x1",
    "John Doe",
    "Slasher",
    "Noli"
]

print(survs)
print(kills)

['Noob', '007n7', 'Shedletsky', 'Builderman', 'Guest 1337', 'Two Time', 'Dusekkar', 'Elliot', 'Taph', 'Chance']
['c00lkidd', '1x1x1x1', 'John Doe', 'Slasher', 'Noli']

In [30]:
survs.extend(kills)
print(survs)

['Noob', '007n7', 'Shedletsky', 'Builderman', 'Guest 1337', 'Two Time', 'Dusekkar', 'Elliot', 'Taph', 'Chance', 'c00lkidd', '1x1x1x1', 'John Doe', 'Slasher', 'Noli']

Tuples

In [31]:
tup = (1, 2, 3, 4, 5)
print(tup)

(1, 2, 3, 4, 5)

In [32]:
print(tup[0])
print(tup[1:3])

1
(2, 3)

In [ ]:
tup[0] = 10
print(tup) # This will give an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [35]:
tupList = [(1, 2), (3, 4), (5, 6)]
print(tupList)

tupList[0] = (7, 8)
print(tupList)

tupList.append((9, 10))
print(tupList)

[(1, 2), (3, 4), (5, 6)]
[(7, 8), (3, 4), (5, 6)]
[(7, 8), (3, 4), (5, 6), (9, 10)]

In [36]:
tupToList = list(tup)
print(tupToList)

[1, 2, 3, 4, 5]

Sets

In [37]:
sup = {1, 2, 3, 4, 5}
print(sup)

sub = {2,3,5}
print(sub)

{1, 2, 3, 4, 5}
{2, 3, 5}

In [39]:
sup.add(6)
sup.remove(1)
print(sup)

print(len(sup))

{2, 3, 4, 5, 6}
5

In [ ]:
print(sup | sub) # union
print(sup & sub) # intersection
print(sup - sub) # difference
print(sup ^ sub) # symmetric difference

{2, 3, 4, 5, 6}
{2, 3, 5}
{4, 6}
{4, 6}

In [40]:
print(sup.union(sub))
print(sup.intersection(sub))
print(sup.difference(sub))

{2, 3, 4, 5, 6}
{2, 3, 5}
{4, 6}

In [42]:
print(sup[2]) # This will give an error because sets are unordered

TypeError: 'set' object is not subscriptable

In [43]:
if 2 in sup:
    print("2 is in the set")

2 is in the set

Dictionaries

In [53]:
budget = {
    "Nicket": 99,
    "Alice": 25,
    "Bob": 30
}

print(budget)

{'Nicket': 99, 'Alice': 25, 'Bob': 30}

In [54]:
print(budget.keys())
print(budget.values())
print(budget.items())

dict_keys(['Nicket', 'Alice', 'Bob'])
dict_values([99, 25, 30])
dict_items([('Nicket', 99), ('Alice', 25), ('Bob', 30)])

In [55]:
budget["Alice"] = 50
print(budget)

{'Nicket': 99, 'Alice': 50, 'Bob': 30}

In [56]:
budget["Charlie"] = 40
budget.pop("Bob")
budget.popitem() # removes the last item
print(budget)

{'Nicket': 99, 'Alice': 50}

In [58]:
copy = budget.copy()
copy["Nicket"] = 100

print(budget)
print(copy)

{'Nicket': 99, 'Alice': 50}
{'Nicket': 100, 'Alice': 50}

In [59]:
print(budget.get("Nicket"))
print(budget.get("David"))
print(budget.get("David", "Not Found")) # returns Not Found if "David" is not found

99
None
Not Found

In [61]:
print(budget.setdefault("Nicket", 25))
print(budget.setdefault("David", 25))
print(budget)

99
25
{'Nicket': 99, 'Alice': 50, 'David': 25}

In [ ]:
costs = {
  "rent": 1000,
  "food": 300,
  "utilities": 150,
  "transportation": 100,
  "entertainment": 200
}

print(budget.fromkeys(costs))
print(budget.fromkeys(costs, 0)) # creates new dictionary with keys from costs and values set to 0

{'rent': None, 'food': None, 'utilities': None, 'transportation': None, 'entertainment': None}
{'rent': 0, 'food': 0, 'utilities': 0, 'transportation': 0, 'entertainment': 0}

In [65]:
for key, value in budget.items():
    print(f"{key}: {budget[key]}")

Nicket: 99
Alice: 50
David: 25

In [66]:
budget.update({"Elliot": 75, "Chance": 69})
print(budget)

{'Nicket': 99, 'Alice': 50, 'David': 25, 'Elliot': 75, 'Chance': 69}

In [67]:
print(budget.clear())

None